.board {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 columns */
  grid-template-rows: repeat(3, 1fr);    /* 3 rows */
  gap: 16px;
  max-width: 90vw;  /* almost full width */
  max-height: 80vh; /* almost full height */
  margin: 0 auto;   /* center horizontally */
  padding: 20px;
  justify-items: center;
  align-items: center;
}

.cellContainer {
  width: 100%;
  height: 100%;
}


.cell-row {
  display: flex;
}

.score {
  margin-bottom: 10px;
  font-size: 18px;
  color: #fff;
  text-align: center;
}