.cell {
  width: 100%;  /* fill grid cell */
  height: 100%; /* fill grid cell */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
  position: relative;
  user-select: none;
}

.cell:hover {
  transform: scale(1.1) rotate(var(--rotate, 0deg));
}

.triangle {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}


.circle {
  border-radius: 50%;
}

.diamond {
  --rotate: 45deg;
  transform: rotate(var(--rotate));
}

.cooldown {
  opacity: 0.4;
  cursor: not-allowed;
}

.cooldownOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}
